name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # To run manually from Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Add remote
        env:
          HF: ${{ secrets.HF }}
        run: git remote add space https://sadelcarpio:$HF@huggingface.co/spaces/sadelcarpio/demo
      - name: Push to Hub
        env:
          HF: ${{ secrets.HF }}
        run: git push --force https://sadelcarpio:$HF@huggingface.co/spaces/sadelcarpio/demo main